<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Spotify Jam</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/jbtheme" />
</head>
<body>
    <div class="navbar bg-base-300">
        <button class="btn btn-ghost text-xl">Jukebox</button>
    </div>
    <div class="flex">
        <div class="w-2/3 h-96">
            <div class="p-2 flex flex-row">
                <label class="grow input input-bordered flex items-center gap-2">
                    <input id="songurl" type="text" class="grow" placeholder="Paste the link to your favorite songs" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
                </label>
                <div id="loadingurl" class="hidden">
                    <svg class="my-auto justify-center animate-spin -ml-1 ml-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                </div>
            </div>
            <div class="flex">
            <div class="p-2">
                <div class="btn cursor-pointer amplitude-next px-2 " onclick = "clearQueue()" disabled>
                    <span>
                        <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                        </svg>
                    </span> Clear Queue
                </div>
                <div class="btn btn-success cursor-pointer amplitude-next px-2" onclick = "shuffleQueue()">
                    <span>
                        <span class="material-symbols-outlined">
                            shuffle
                        </span></span> Shuffle
                </div>
            </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Queue Number</th>
                            <th>Song Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="queuelist">
                        <!-- Dynamically populated rows will go here -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-1/3">
            <audio id="songplayer" src="" volume="50"></audio>
            <div class="px-10 pt-10 pb-4 flex items-center z-50">
                <img id="cover-art" class="w-24 h-24 rounded-md mr-6 border border-bg-player-light-background dark:border-cover-dark-border" />
                <div class="flex flex-col">
                    <span id="song-title" class="font-sans text-lg font-medium leading-7 text-slate-900 dark:text-white"></span>
                    <span id="song-artist" class="font-sans text-base font-medium leading-6 text-gray-500 dark:text-gray-400"></span>
                </div>
            </div>
            <div class="w-full flex flex-col px-10 pb-6 z-50">
                <label class="label">
                    <span class="label-text" id="song-current-time">00:00:00</span>
                    <input type="range" id="song-percentage-played" class="amplitude-song-slider mb-3 w-full" step="0.1" />
                    <span class="label-text" id="song-total-time">00:00:00</span>
                </label>
            </div>
            <div class="h-control-panel px-10 rounded-b-xl bg-control-panel-light-background border-t border-gray-200 flex items-center justify-between z-50 dark:bg-control-panel-dark-background dark:border-gray-900">
                <div class="cursor-pointer amplitude-prev px-2">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 7C26 5.76393 24.5889 5.05836 23.6 5.8L11.6 14.8C10.8 15.4 10.8 16.6 11.6 17.2L23.6 26.2C24.5889 26.9416 26 26.2361 26 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round" />
                        <path d="M6 5L6 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>

                <div class="cursor-pointer amplitude-play-pause w-24 h-24 rounded-full bg-white border border-play-pause-light-border shadow-xl flex items-center justify-center dark:bg-play-pause-dark-background dark:border-play-pause-dark-border" onclick="playpause()">
                    <svg id="play-icon" class="ml-[10px]" width="31" height="37" viewBox="0 0 31 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6901 16.6608L4.00209 0.747111C2.12875 -0.476923 0.599998 0.421814 0.599998 2.75545V33.643C0.599998 35.9728 2.12747 36.8805 4.00209 35.6514L29.6901 19.7402C29.6901 19.7402 30.6043 19.0973 30.6043 18.2012C30.6043 17.3024 29.6901 16.6608 29.6901 16.6608Z" class="fill-slate-500 dark:fill-slate-400" />
                    </svg>
                </div>
                

                <div class="cursor-pointer amplitude-next px-2 " onclick = "nextSong()">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6 7C6 5.76393 7.41115 5.05836 8.4 5.8L20.4 14.8C21.2 15.4 21.2 16.6 20.4 17.2L8.4 26.2C7.41115 26.9416 6 26.2361 6 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round" />
                        <path d="M26 5L26 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
            </div>
            <!-- <div class="hidden top-14 w-full absolute ml-auto mr-auto left-0 right-0 text-center max-w-lg h-72 rounded-full bg-highlight blur-2xl dark:block"></div> -->
        </div>
    </div>

    <script>
        var isUserSeeking = false;
        var socket = io.connect("jukebox.sebastianalexis.com", {
            transports: ["polling"], // Use long polling
            secure: true,
        });
        var audio = document.getElementById("songplayer");
        audio.volume = 0.2;
        var slider = document.getElementById("song-percentage-played");
        var currentTimeLabel = document.getElementById("song-current-time");
        var totalTimeLabel = document.getElementById("song-total-time");
        var isPlaying = false;
        var syncInterval = 1500; // Sync every 1.5 seconds
        var current_timestamp = 0;
        var hasPlayed = false;


        socket.on("connect", function () {
            console.log("Connected to server");
            socket.emit("request_sync");
        });

        socket.on("play", function (data) {
            console.log("Play event received from server", data);
            if (!isPlaying) {
                audio.play();
                isPlaying = true;
            }
        });

        socket.on("pause", function (data) {
            console.log("Pause event received from server", data);
            if (data.timestamp !== undefined) {
                audio.currentTime = data.timestamp;
                if (isPlaying) {
                    audio.pause();
                    isPlaying = false;
                }
            } else {
                console.error("Pause event received without timestamp");
            }
        });

        socket.on("sync", function (data) {
            console.log("Sync event received from server", data);
            if (data.timestamp !== undefined) {
                current_timestamp = data.timestamp; // Store current timestamp
                var currentTimeDiff = Math.abs(audio.currentTime - data.timestamp);

                if (data.song) {
                    playSong(data.song.filename, data.song.title, data.song.artist, data.song.cover_art);
                }

                if (data.is_playing && !isPlaying) {
                    audio.currentTime = data.timestamp;
                    audio.play();
                    isPlaying = true;
                } else if (!data.is_playing && isPlaying) {
                    audio.currentTime = data.timestamp;
                    audio.pause();
                    isPlaying = false;
                }

                slider.value = (audio.currentTime / audio.duration) * 100;
                isUserSeeking = false; // Reset flag after sync
            } else {
                console.error("Sync event received without timestamp");
            }
        });

        socket.on("next_song", function (data) {
            console.log("Next song event received from server", data);
            current_timestamp = 0;
            playSong(data.filename, data.title, data.artist, data.cover_art);
            playsong();
        });

        socket.on("song_selected", function (data) {
            console.log("Song selection received from server", data);
            current_timestamp = 0;
            playSong(data.filename, data.title, data.artist, data.cover_art);
            playsong();
        });

        function playpause() {
            if (!hasPlayed) {
                requestInitialSync();
                hasPlayed = true;
                playsong(true);
            } else {
                if (isPlaying) {
                    pausesong();
                } else {
                    playsong();
                }
            }
        }


        function playsong(skipTimestamp) {
            console.log("Playing song");
            if (!skipTimestamp) {
                socket.emit("play", { timestamp: audio.currentTime });
            }
            audio.play();
            isPlaying = true;
        }


        function pausesong() {
            console.log("Pausing song");
            if (isPlaying) {
                isPlaying = false;
                socket.emit("pause", { timestamp: audio.currentTime });
                audio.pause();
            }
        }

        $(document).keyup(function (event) {
            if ($("#songurl").is(":focus") && event.key == "Enter") {
                var songurl = $("#songurl").val();
                console.log("Song URL:", songurl);
                $("#loadingurl").removeClass("hidden");
                $.ajax({
                    type: "POST",
                    url: "/add_song",
                    data: JSON.stringify({ songurl: songurl }),
                    contentType: "application/json",
                    success: function (data) {
                        console.log("Song added to queue:", data);
                        $("#loadingurl").addClass("hidden");
                    },
                    error: function (error) {
                        console.error("Error adding song to queue:", error);
                        $("#loadingurl").addClass("hidden");
                    },
                });
            }
        });

        // Update the slider's current time
        slider.addEventListener("input", function () {
            var newTime = (slider.value / 100) * audio.duration;
            currentTimeLabel.textContent = formatTime(newTime);
        });

        slider.addEventListener("change", function () {
            var newTime = (slider.value / 100) * audio.duration;
            console.log("Seeking to new time:", newTime);
            audio.currentTime = newTime;
            isUserSeeking = false;
            socket.emit("seek", { timestamp: newTime });
        });

        audio.addEventListener('timeupdate', function () {
            if (!isUserSeeking) {
                slider.value = (audio.currentTime / audio.duration) * 100;
                currentTimeLabel.textContent = formatTime(audio.currentTime);
            }
        });

        audio.addEventListener('loadedmetadata', function () {
            totalTimeLabel.textContent = formatTime(audio.duration);
        });

        audio.addEventListener('ended', function () {
            console.log('The audio has finished playing.');
            socket.emit('next_song');
        });

        // Format time in HH:MM:SS
        function formatTime(seconds) {
            var h = Math.floor(seconds / 3600);
            var m = Math.floor((seconds % 3600) / 60);
            var s = Math.floor(seconds % 60);
            return [h, m, s].map(v => v < 10 ? "0" + v : v).join(":");
        }

        setInterval(function () {
            console.log("Requesting sync from server");
            socket.emit("request_sync");
        }, syncInterval);

        setInterval(emitTimestamp, 2000);


        socket.on("connect_error", function (error) {
            console.error("Connection Error:", error);
        });

        socket.on("disconnect", function (reason) {
            console.log("Disconnected:", reason);
            if (reason === 'transport error') {
                // Handle specific transport error cases if needed
            }
        });

        // Fetch and display the music library

        function fetchLibrary() {
            $.get("/library", function (data) {
                var queuelist = $("#queuelist");
                queuelist.empty();
                data.forEach(function (song, index) {
                    queuelist.append(`
                        <tr id="queue-${index}">
                            <td class="w-1/12">#${index + 1}</td>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle w-12 h-12">
                                            <img src="${song.cover_url}" alt="${song.name}" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">${song.name}</div>
                                        <div class="text-sm opacity-50">${song.artist}</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="flex">
                                    <button class="btn btn-success btn-sm" onclick="selectSong(${index})">
                                        Play
                                    </button>
                                </div>
                            </td>
                        </tr>
                    `);
                });

                // Optionally, ensure the current song remains unchanged
                if (data.length > 0 && !isPlaying) {
                    var firstSong = data[0];
                    playSong(firstSong.filename, firstSong.name, firstSong.artist, firstSong.cover_url);
                } else {
                    console.log("No songs in queue or a song is currently playing.");
                }
            });
        }

        // Play a song from the library
        function playSong(filename, title, artist, cover_art) {
          console.log("Playing song:", filename, title, artist, cover_art);
          var audio = document.getElementById("songplayer");
          if (filename) {
              audio.src = `/music/${filename}`;
              $("#song-title").text(title);
              $("#song-artist").text(artist);
              $("#cover-art").attr("src", cover_art);
          }
          audio.currentTime = current_timestamp;
      }

        // // setInterval(function () {
        //     console.log("Fetching library...")
        //     fetchLibrary();
        //     console.log("Fetched library")
        // }, 10000);

        // Select a song from the queue
        function selectSong(index) {
            console.log("Selecting song with index:", index);
            socket.emit("select_song", { index: index });
        }

        function requestInitialSync() {
            console.log("Requesting initial sync from server");
            socket.emit("request_sync");
        }

        function emitTimestamp() {
            if (isPlaying) {
                socket.emit('timestamp', { timestamp: audio.currentTime });
            }
        }


        // Fetch the library on page load
        $(document).ready(function () {
            fetchLibrary();
            if (isPlaying) {
            playsong();
            }

            // Set an interval to refresh the library metadata every x seconds
            var refreshInterval = 10000; // Example: 30 seconds
            setInterval(function() {
              console.log("Refreshing library metadata...");
              fetchLibrary();
            }, refreshInterval);
        });

        function shuffleSong(){
            console.log("Shuffling Queue ");
            $.ajax
        }

    </script>
</body>
</html>
