<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Jukebox</title>
    <!-- VERSION X12:51 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/jbtheme" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <dialog id="joinModal" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Join in</h3>
        <p class="py-4">Click Below to Join the Session</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn" onclick="playpause()">Join</button>
          </form>
        </div>
      </div>
    </dialog>
    <div class="navbar bg-base-300">
      <button class="btn btn-ghost text-xl">Jukebox</button> <span class="text-sm" style="margin-right: 10px" id="serverversion">1.5</span></a>
      <div class="badge badge-neutral badge-sm">Beta</div>&nbsp;
    </div>
    <div class="flex">
      <div class="w-2/3 h-96">
        <div class="p-2 flex flex-row">
          <label class="grow input input-bordered flex items-center gap-2">
            <input
              id="songurl"
              type="text"
              class="grow"
              placeholder="Paste a SPOTIFY link to your favorite song, playlist, album then click enter/return"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="w-4 h-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </label>
          <div id="loadingurl" class="hidden justify-center items-center btn btn-active btn-neutral no-animation no-hover" style="margin-left:30px;">
            Processing song(s). Please wait...
            <svg
              class="my-auto justify-center animate-spin -ml-1 ml-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>
          </div>
        </div>
        <div class="flex">
          <div class="p-2">
            <div
              class="btn btn-error cursor-pointer amplitude-next px-2"
              onclick="clearQueueModal.showModal()"
            >
              <span>
                <svg
                  class="w-6 h-6 text-gray-800"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-width="2"
                    d="m6 6 12 12m3-6a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </span>
              Clear Queue
            </div>
            <dialog id="clearQueueModal" class="modal">
              <div class="modal-box">
                <h3 class="font-bold text-lg">Warning!</h3>
                <p class="py-4">
                  Are you sure you want to clear? This Action is irreverible.
                </p>
                <div class="modal-action">
                  <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn" onclick="clearQueue()">Yes</button>
                    <button class="btn">No</button>
                  </form>
                </div>
              </div>
            </dialog>
            <div
              class="btn btn-success cursor-pointer amplitude-next px-2"
              onclick="shuffleQueue()"
            >
              <span>
                <span class="material-symbols-outlined"> shuffle </span></span
              >
              Shuffle
            </div>
          </div>
          <!-- create a volume slider -->
          <div class="p-2">
            <label class="label">
              <span class="font-bold font-sm" style="margin-right:20px;">Volume</span>
              <input
                type="range"
                class="range"
                value="50"
                onchange="audio.volume = this.value / 100"
              />
            </label>
          </div>
        </div>
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr>
                <th>Queue Number</th>
                <th>Song Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="queuelist">
              <!-- Dynamically populated rows will go here -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="w-1/3">
        <audio id="songplayer" src="" volume="50"></audio>
        <div class="px-10 pt-10 pb-4 flex items-center z-50">
          <img
            id="cover-art"
            class="w-24 h-24 rounded-md mr-6 border border-bg-player-light-background dark:border-cover-dark-border"
          />
          <div class="flex flex-col">
            <span
              id="song-title"
              class="font-sans text-lg font-medium leading-7 text-slate-900 dark:text-white"
            ></span>
            <span
              id="song-artist"
              class="font-sans text-base font-medium leading-6 text-gray-500 dark:text-gray-400"
            ></span>
          </div>
        </div>
        <div class="w-full flex flex-col px-10 pb-6 z-50">
          <label class="label">
            <span class="label-text pr-4 text-lg" id="song-current-time"
              >00:00:00</span
            >
            <input
              type="range"
              id="song-percentage-played"
              class="range amplitude-song-slider mb-3 w-full"
              step="0.1"
              min="0"
              value="0"
            />
            <span class="label-text pl-4 text-lg" id="song-total-time"
              >00:00:00</span
            >
          </label>
        </div>
        <div class="border-t border-gray-200 dark:border-gray-900" style="margin-bottom:20px;">
        
        </div>
        <div
          class="h-control-panel px-10 rounded-b-xl bg-control-panel-light-background flex items-center justify-between z-50 dark:bg-control-panel-dark-background"
        >
          <div class="cursor-pointer amplitude-prev px-2">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26 7C26 5.76393 24.5889 5.05836 23.6 5.8L11.6 14.8C10.8 15.4 10.8 16.6 11.6 17.2L23.6 26.2C24.5889 26.9416 26 26.2361 26 25V7Z"
                fill="#94A3B8"
                stroke="#94A3B8"
                stroke-width="2"
                stroke-linejoin="round"
              />
              <path
                d="M6 5L6 27"
                stroke="#94A3B8"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>

          <div
            class="cursor-pointer amplitude-play-pause w-24 h-24 rounded-full bg-white border border-play-pause-light-border shadow-xl flex items-center justify-center dark:bg-play-pause-dark-background dark:border-play-pause-dark-border"
            onclick="playpause()"
            >
            <div id="loadingsong" class="text-black">
              <svg
                class="my-auto justify-center animate-spin text-4xl h-8 w-8 text-black"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
            </div>
            <span id="play-icon" class="material-symbols-outlined text-black hidden text-5xl">
            play_arrow
            </span>
            <span id="pause-icon" class="material-symbols-outlined text-black text-5xl hidden">
              pause
            </span>
          </div>

          <div class="cursor-pointer amplitude-next px-2" onclick="nextSong()">
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6 7C6 5.76393 7.41115 5.05836 8.4 5.8L20.4 14.8C21.2 15.4 21.2 16.6 20.4 17.2L8.4 26.2C7.41115 26.9416 6 26.2361 6 25V7Z"
                fill="#94A3B8"
                stroke="#94A3B8"
                stroke-width="2"
                stroke-linejoin="round"
              />
              <path
                d="M26 5L26 27"
                stroke="#94A3B8"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <footer style="margin-top:50px;">
          <div class="w-full">
              <span style="margin:20px;">Made with ❤️ by The Homework Club (Homework Club © 2024) <br>
              <div class="divider">
              </div>
          </div>
        </footer>
        <!-- <div class="hidden top-14 w-full absolute ml-auto mr-auto left-0 right-0 text-center max-w-lg h-72 rounded-full bg-highlight blur-2xl dark:block"></div> -->
      </div>
    </div>
    <div class="toast hidden" id="toastinfo">
      <div class="alert alert-info">
        <span class="font-bold" id="toastinfomessage"></span>
      </div>
    </div>
    <div class="toast hidden" id="toasterror">
      <div class="alert alert-error">
        <span class="font-bold" id="toasterrormessage"></span>
      </div>
    </div>
    <script>
      var isUserSeeking = false;
      var socket = io.connect(window.location.href, {
        transports: ["polling"], // Use long polling
        secure: true,
      });
      var audio = document.getElementById("songplayer");
      audio.volume = 0.5;
      var slider = document.getElementById("song-percentage-played");
      var currentTimeLabel = document.getElementById("song-current-time");
      var totalTimeLabel = document.getElementById("song-total-time");
      var toastinfo = document.getElementById("toastinfo");
      var toasterror = document.getElementById("toasterror");
      var toastinfomessage = document.getElementById("toastinfomessage");
      var toasterrormessage = document.getElementById("toasterrormessage");
      var isPlaying = false;
      var syncInterval = 1500; // Sync every 1.5 seconds
      var current_timestamp = 0;
      var hasPlayed = false;

      socket.on("connect", function () {
        console.log("Connected to server");
        socket.emit("request_sync");
      });

      socket.on("play", function (data) {
        console.log("Play event received from server", data);
        if (!isPlaying) {
          audio.play();
          isPlaying = true;
        }
      });

      socket.on("pause", function (data) {
        console.log("Pause event received from server", data);
        if (data.timestamp !== undefined) {
          audio.currentTime = data.timestamp;
          if (isPlaying) {
            audio.pause();
            isPlaying = false;
          }
        } else {
          console.error("Pause event received without timestamp");
        }
      });

    // Update the slider's current time
// Update the slider's current time
        slider.addEventListener("input", function () {
            var newTime = (slider.value / 100) * audio.duration;
            currentTimeLabel.textContent = formatTime(newTime);
            console.log("Seeking to awesome new time:", newTime);
            audio.currentTime = newTime;
            isUserSeeking = true; // User is actively seeking
            socket.emit("seek", { timestamp: newTime });
        });

        slider.addEventListener("change", function () {
            var newTime = (slider.value / 100) * audio.duration;
            console.log("Seeking to new time:", newTime);
            audio.currentTime = newTime;
            isUserSeeking = false;
            socket.emit("seek", { timestamp: newTime });
        });


    // Handle incoming 'sync' events to update the playback position
    socket.on("sync", function (data) {
        console.log("Sync event received from server", data);
        if (data.timestamp !== undefined) {
            current_timestamp = data.timestamp; // Store current timestamp

            if (data.song) {
                playSong(data.song.filename, data.song.title, data.song.artist, data.song.cover_art);
            }

            if (data.action === 'seek') {
                audio.currentTime = data.timestamp;
            } 
            else if (data.is_playing && !isPlaying) {
                audio.currentTime = data.timestamp;
                audio.play();
                isPlaying = true;
            }
             else if (!data.is_playing && isPlaying) {
                audio.currentTime = data.timestamp;
                audio.pause();
                isPlaying = false;
            }

            slider.value = (audio.currentTime / audio.duration) * 100;
        } else {
            console.error("Sync event received without timestamp");
        }
    });




      socket.on("next_song", function (data) {
        console.log("Next song event received from server", data);
        current_timestamp = 0;
        playSong(data.filename, data.title, data.artist, data.cover_art);
        playsong();
      });

      socket.on("song_selected", function (data) {
        console.log("Song selection received from server", data);
        current_timestamp = 0;
        playSong(data.filename, data.title, data.artist, data.cover_art);
        playsong();
      });

      function playpause() {
        document.getElementById("loadingsong").classList.add("hidden")
        if (!hasPlayed) {
            requestInitialSync();
            hasPlayed = true;
            playsong(true);
            
        } else {
          if (isPlaying) {
            pausesong();
            document.getElementById("play-icon").classList.remove("hidden");
            document.getElementById("pause-icon").classList.add("hidden");
          } else {
            playsong();
            document.getElementById("play-icon").classList.add("hidden");
            document.getElementById("pause-icon").classList.remove("hidden");

          }
        }
      }

      function playsong(skipTimestamp) {
        console.log("Playing song");
        if (!skipTimestamp) {
          socket.emit("play", { timestamp: audio.currentTime });
        }
        audio.play();
        document.getElementById("play-icon").classList.add("hidden");
        document.getElementById("pause-icon").classList.remove("hidden");
        isPlaying = true;
      }

      function pausesong() {
        console.log("Pausing song");
        if (isPlaying) {
          isPlaying = false;
          socket.emit("pause", { timestamp: audio.currentTime });
          audio.pause();
          document.getElementById("play-icon").classList.remove("hidden");
          document.getElementById("pause-icon").classList.add("hidden");
        }
      }

      $(document).keyup(function (event) {
        if ($("#songurl").is(":focus") && event.key == "Enter") {
          var songurl = $("#songurl").val();
          console.log("Song URL:", songurl);
          $("#loadingurl").removeClass("hidden");
          $.ajax({
            type: "POST",
            url: "/add_song",
            data: JSON.stringify({ songurl: songurl }),
            contentType: "application/json",
            success: function (data) {
              console.log("Song added to queue:", data);
              toastinfomessage.innerHTML = "Song added to queue";
              toastinfo.classList.remove("hidden");
              $("#loadingurl").addClass("hidden");
              setTimeout(function () {
                toastinfo.classList.add("hidden");
              }, 7000);
            },
            error: function (error) {
              console.error("Error adding song to queue:", error);
              $("#loadingurl").addClass("hidden");
            },
          });
        }
      });



      audio.addEventListener("timeupdate", function () {
        if (!isUserSeeking) {
          slider.value = (audio.currentTime / audio.duration) * 100;
          currentTimeLabel.textContent = formatTime(audio.currentTime);
        }
      });

      audio.addEventListener("loadedmetadata", function () {
        totalTimeLabel.textContent = formatTime(audio.duration);
      });

      audio.addEventListener("ended", function () {
        console.log("The audio has finished playing.");
        socket.emit("next_song");
      });

      // Format time in HH:MM:SS
      function formatTime(seconds) {
        var h = Math.floor(seconds / 3600);
        var m = Math.floor((seconds % 3600) / 60);
        var s = Math.floor(seconds % 60);
        return [h, m, s].map((v) => (v < 10 ? "0" + v : v)).join(":");
      }

      setInterval(function () {
        console.log("Requesting sync from server");
        socket.emit("request_sync");
      }, syncInterval);

      setInterval(function () {
    if (isPlaying) {
        socket.emit('timestamp', { timestamp: audio.currentTime });
    }
    }, 1000); // Sync every second


      setInterval(emitTimestamp, 2000);

      setInterval(function () {
        $.ajax({
          type: "GET",
          url: "/update_queue",
          success: function (data) {
            console.log("Queue updated");
            fetchLibrary();
          },
        });
      }, 10000);

      socket.on("connect_error", function (error) {
        console.error("Connection Error:", error);
      });

      socket.on("disconnect", function (reason) {
        console.log("Disconnected:", reason);
        if (reason === "transport error") {
          // Handle specific transport error cases if needed
        }
      });

      // Fetch and display the music library

      function fetchLibrary() {
        $.get("/library", function (data) {
          var queuelist = $("#queuelist");
          queuelist.empty();
          data.forEach(function (song, index) {
            queuelist.append(`
                        <tr id="queue-${index}">
                            <td class="w-1/12">#${index + 1}</td>
                            <td>
                                <div class="flex items-center gap-3">
                                    <div class="avatar">
                                        <div class="mask mask-squircle w-12 h-12">
                                            <img src="${
                                              song.cover_url
                                            }" alt="${song.name}" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">${
                                          song.name
                                        }</div>
                                        <div class="text-sm opacity-50">${
                                          song.artist
                                        }</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="flex">
                                    <button class="btn btn-success btn-sm" onclick="selectSong(${index})">
                                        Play
                                    </button>
                                </div>
                            </td>
                        </tr>
                    `);
          });

          // Optionally, ensure the current song remains unchanged
          if (data.length > 0 && !isPlaying) {
            var firstSong = data[0];
            playSong(
              firstSong.filename,
              firstSong.name,
              firstSong.artist,
              firstSong.cover_url
            );
          } else {
            console.log("No songs in queue or a song is currently playing.");
          }
        });
      }

      // Play a song from the library
      function playSong(filePath, title, artist, cover_art) {
            console.log("Playing song:", filePath, title, artist, cover_art);
            var audio = document.getElementById("songplayer");
            if (filePath) {
                let encodedPath = btoa(unescape(encodeURIComponent(filePath))); // Base64 encode the path
                audio.src = `/music/${encodedPath}`;
                $("#song-title").text(title);
                $("#song-artist").text(artist);
                $("#cover-art").attr("src", cover_art);
            }
            audio.currentTime = current_timestamp;
        }

      // // setInterval(function () {
      //     console.log("Fetching library...")
      //     fetchLibrary();
      //     console.log("Fetched library")
      // }, 10000);

      // Select a song from the queue
      function clearQueue() {
        console.log("Clearing Queue ");
        $.ajax({
          type: "GET",
          url: "/clear_library",
          success: function (data) {
            console.log("Queue cleared");
            fetchLibrary();
          },
        });
      }
      function selectSong(index) {
        console.log("Selecting song with index:", index);
        socket.emit("select_song", { index: index });
      }

      function nextSong() {
        console.log("Moving to song # ");
        socket.emit("next_song");
      }

      function prevSong() {
        console.log("Moving to song # ");
        socket.emit("prev_song");
      }

      function requestInitialSync() {
        console.log("Requesting initial sync from server");
        socket.emit("request_sync");
      }

      function emitTimestamp() {
        if (isPlaying) {
          socket.emit("timestamp", { timestamp: audio.currentTime });
        }
      }

      // Fetch the library on page load
      $(document).ready(function () {
        fetchLibrary();
        joinModal.showModal();
        if (isPlaying) {
            console.log("Resuming playback...");
          //playsong();
        }

        // Set an interval to refresh the library metadata every x seconds
        var refreshInterval = 10000; // Example: 30 seconds
        setInterval(function () {
          console.log("Refreshing library metadata...");
          fetchLibrary();
        }, refreshInterval);
      });

      function shuffleQueue() {
        console.log("Shuffling Queue ");
        $.ajax({
          type: "GET",
          url: "/shuffle",
          success: function (data) {
            console.log("Queue shuffled");
            fetchLibrary();
          },
        });
      }
    </script>
  </body>
</html>
